body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #fafafa;
    }

    .items {
      display: flex;
      overflow-x: scroll;
      width: 80%;
      cursor: grab;
      user-select: none;
      scroll-behavior: smooth;
    }

    .items.active {
      cursor: grabbing;
    }

    .item {
      flex: 0 0 auto;
      width: 150px;
      height: 150px;
      background: #3498db;
      color: white;
      font-weight: bold;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      border-radius: 8px;
    }